/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  background-color: #1a1b20;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 18px;
  color: #d6d6d9;
}

h2 {
  font-size: 18px;
  color: #d6d6d9;
}

main {
  width: 1250px;
  margin: 0 auto;
}

footer {
  width: inherit;
  height: 130.89px;
  background-color: #2b2c31;
  margin-top: 400px;
}

nav a {
  color: #c2c2c4;
}
nav ul {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #26272c;
  height: 61.82px;
  width: 1250px;
  margin: 0 auto;
  list-style-type: none;
}
nav ul li {
  color: #c2c2c4;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 16px;
}
nav ul li:nth-of-type(1) {
  width: 134px;
}
nav ul li:nth-of-type(2) {
  width: 100px;
}
nav ul li:nth-last-of-type(3) {
  width: 100px;
}
nav ul li:nth-of-type(4) {
  width: 150px;
}
nav ul li:nth-of-type(5) {
  width: 150px;
}
nav ul li:hover {
  background-color: #333438;
}
nav ul a {
  display: block;
  text-decoration: none;
}
nav ul a:visited {
  color: #c2c2c4;
}

.active-link {
  background-color: #333438;
}

.profile {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 385.44px;
  margin-left: 39px;
  margin-top: 33px;
  background-color: #26272c;
}
.profile .profile_header {
  width: inherit;
  height: 54.1px;
  background-color: #2b2c31;
}
.profile .profile_header h2 {
  color: #d6d6d9;
  margin-left: 26px;
  margin-top: 22px;
}
.profile .profile_info {
  height: 85px;
}
.profile .profile_info .profile_picture {
  float: left;
  max-width: 60px;
  max-height: 60px;
  margin-left: 20px;
  margin-top: 20px;
  min-width: 70px;
}
.profile .profile_info .profile_picture a {
  color: #8f8f91;
  font-size: 10px;
  margin-left: 11px;
  -o-object-fit: cover;
     object-fit: cover;
}
.profile .profile_info .nickname {
  margin-top: 24px;
  color: #c2c2c4;
  font-size: 13px;
}
.profile .profile_info .username_info {
  margin-top: 2px;
  color: #8f8f91;
  font-size: 10px;
}
.profile .profile_info p {
  margin-left: 100px;
}
.profile .profile_buttons {
  background-color: #333438;
  color: #c2c2c4;
  width: 251px;
  height: 37px;
  margin-top: 16px;
  margin-left: 20px;
  border-radius: 5px;
  text-align: center;
  padding-top: 14px;
  cursor: pointer;
}
.profile .profile_buttons:hover {
  background-color: #d42c2f;
  color: #ffffff;
}
.profile .profile_buttons:active {
  background-color: #d42c2f;
  color: #ffffff;
  border: 1px solid #878787;
}
.profile .profile_buttons:nth-of-type(1) {
  margin-top: 16px;
}
.profile .profile_exitbutton {
  background-color: #333438;
  color: #c2c2c4;
  width: 251px;
  height: 37px;
  margin-top: 16px;
  margin-left: 20px;
  border-radius: 5px;
}
.profile .profile_exitbutton:hover {
  background-color: #d42c2f;
  color: #ffffff;
}
.profile .profile_exitbutton:active {
  background-color: #d42c2f;
  color: #ffffff;
  border: 1px solid #878787;
}
.profile .profile_exitbutton:nth-of-type(1) {
  margin-top: 16px;
}

.loading {
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  margin-top: 300px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: -moz-fit-content;
  height: fit-content;
}

.commands_menu {
  display: flex;
  flex-direction: column;
  width: 911px;
}
.commands_menu .commands_search {
  display: flex;
  flex-direction: row;
  width: 911px;
  height: 46px;
  background-color: #26272c;
  margin-top: 33px;
}
.commands_menu .commands_search input {
  background-color: #2b2c31;
  border: 1px solid #333438;
  width: 606px;
  height: 24px;
  color: #5c5c60;
  margin-left: 14px;
  margin-top: 11px;
}
.commands_menu .commands_search input:hover {
  background-color: #3c3d41;
  border: 1px solid #878787;
  color: #ffffff;
}
.commands_menu .commands_search input:focus {
  background-color: #3c3d41;
  border: 1px solid #bcbcbc;
  color: #ffffff;
}
.commands_menu .commands_search .button_search {
  width: 100px;
  height: 23px;
  background-color: #333438;
  border-radius: 5px;
  color: #c2c2c4;
  margin-left: 9px;
  margin-top: 11px;
}
.commands_menu .commands_search .button_search:hover {
  background-color: #d42c2f;
  color: #ffffff;
}
.commands_menu .commands_search .button_search:active {
  background-color: #d42c2f;
  color: #ffffff;
  border: 1px solid #878787;
}
.commands_menu .commands_search .create_command {
  width: 272px;
  height: 23px;
  background-color: #333438;
  border-radius: 5px;
  color: #c2c2c4;
  margin-left: 9px;
  margin-top: 11px;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}
.commands_menu .commands_search .create_command:hover {
  background-color: #d42c2f;
  color: #ffffff;
}
.commands_menu .commands_search .create_command:active {
  background-color: #d42c2f;
  color: #ffffff;
  border: 1px solid #878787;
}
.commands_menu .commands_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 911px;
  height: -moz-fit-content;
  height: fit-content;
}
.commands_menu .commands_list .command_block {
  display: flex;
  flex-direction: row;
  width: 450px;
  height: 135px;
  border-radius: 5px;
  background-color: #2b2c31;
  margin-top: 25px;
}
.commands_menu .commands_list .command_block:nth-of-type(even) {
  margin-left: 11px;
}
.commands_menu .commands_list .command_block .command_image {
  margin-left: 21px;
  margin-top: 5px;
  width: 25%;
  height: 90%;
}
.commands_menu .commands_list .command_block .command_image img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.commands_menu .commands_list .command_block .command_image p {
  color: #d6d6d9;
  font-size: 11px;
  text-align: center;
  margin-top: 11px;
}
.commands_menu .commands_list .command_block .command_info {
  width: 278px;
  height: 101px;
  margin-left: 35px;
  margin-top: 20px;
}
.commands_menu .commands_list .command_block .command_info > div {
  display: flex;
  flex-direction: row;
}
.commands_menu .commands_list .command_block .command_info h2 {
  margin-bottom: 7px;
}
.commands_menu .commands_list .command_block .command_info p {
  color: #8f8f91;
  font-size: 11px;
}
.commands_menu .commands_list .command_block .command_info .button_command_info {
  width: 136px;
  height: 20px;
  margin-top: 19px;
  background-color: #333438;
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
}
.commands_menu .commands_list .command_block .command_info .button_command_info:hover {
  background-color: #d42c2f;
  color: #ffffff;
}
.commands_menu .commands_list .command_block .command_info .button_command_info:active {
  background-color: #d42c2f;
  color: #ffffff;
  border: 1px solid #878787;
}
.commands_menu .commands_list .command_block .command_info .button_command_info:nth-last-of-type(1) {
  margin-left: 6px;
}
.commands_menu .commands_list .command_block .command_info .button_command_info p {
  font-size: 9px;
  color: #c2c2c4;
}

.createCommandButton {
  background-color: #333438;
  color: #c2c2c4;
  margin-top: 20px;
  width: 100%;
  height: 50px;
}
.createCommandButton:hover {
  background-color: #d42c2f;
  color: #ffffff;
}/*# sourceMappingURL=commands.css.map */