/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:focus,
:active {
  /*outline: none;*/
}

a:focus,
a:active {
  /* outline: none;*/
}

/* Links */
a,
a:link,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  /* display: inline-block; */
}

a:hover {
  /* color: inherit; */
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  background-color: #1a1b20;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 18px;
  color: #d6d6d9;
}

h2 {
  font-size: 18px;
  color: #d6d6d9;
}

main {
  width: 1250px;
  margin: 0 auto;
}

footer {
  width: inherit;
  height: 130.89px;
  background-color: #2b2c31;
  margin-top: 400px;
}

nav a {
  color: #c2c2c4;
}
nav ul {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #26272c;
  height: 61.82px;
  width: 1250px;
  margin: 0 auto;
  list-style-type: none;
}
nav ul li {
  color: #c2c2c4;
  font-family: "Roboto", sans-serif;
  text-align: center;
  padding-top: 16px;
}
nav ul li:nth-of-type(1) {
  width: 134px;
}
nav ul li:nth-of-type(2) {
  width: 100px;
}
nav ul li:nth-last-of-type(3) {
  width: 100px;
}
nav ul li:nth-of-type(4) {
  width: 150px;
}
nav ul li:nth-of-type(5) {
  width: 150px;
}
nav ul li:hover {
  background-color: #333438;
}
nav ul a {
  display: block;
  text-decoration: none;
}
nav ul a:visited {
  color: #c2c2c4;
}

.active-link {
  background-color: #333438;
}

.profile {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 385.44px;
  margin-left: 39px;
  margin-top: 33px;
  background-color: #26272c;
}
.profile .profile_header {
  width: inherit;
  height: 54.1px;
  background-color: #2b2c31;
}
.profile .profile_header h2 {
  color: #d6d6d9;
  margin-left: 26px;
  margin-top: 22px;
}
.profile .profile_info {
  height: 85px;
}
.profile .profile_info .profile_picture {
  float: left;
  max-width: 60px;
  max-height: 60px;
  margin-left: 20px;
  margin-top: 20px;
}
.profile .profile_info .profile_picture a {
  color: #8f8f91;
  font-size: 10px;
  margin-left: 11px;
  object-fit: cover;
}
.profile .profile_info .nickname {
  margin-top: 24px;
  color: #c2c2c4;
  font-size: 13px;
}
.profile .profile_info .username_info {
  margin-top: 2px;
  color: #8f8f91;
  font-size: 10px;
}
.profile .profile_buttons {
  background-color: #333438;
  color: #c2c2c4;
  width: 251px;
  height: 37px;
  margin-top: 16px;
  margin-left: 20px;
  border-radius: 5px;
  text-align: center;
  padding-top: 14px;
  cursor: pointer;
}
.profile .profile_buttons:hover {
  background-color: #d42c2f;
  color: #ffffff;
}
.profile .profile_buttons:active {
  background-color: #d42c2f;
  color: #ffffff;
  border: 1px solid #878787;
}
.profile .profile_buttons:nth-of-type(1) {
  margin-top: 16px;
}
.profile .profile_exitbutton {
  background-color: #333438;
  color: #c2c2c4;
  width: 251px;
  height: 37px;
  margin-top: 16px;
  margin-left: 20px;
  border-radius: 5px;
}
.profile .profile_exitbutton:hover {
  background-color: #d42c2f;
  color: #ffffff;
}
.profile .profile_exitbutton:active {
  background-color: #d42c2f;
  color: #ffffff;
  border: 1px solid #878787;
}
.profile .profile_exitbutton:nth-of-type(1) {
  margin-top: 16px;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tournaments {
  display: flex;
  flex-direction: column;
  width: 911px;
}
.tournaments .tournaments_search {
  display: flex;
  flex-direction: row;
  width: 911px;
  height: 46px;
  background-color: #26272c;
  margin-top: 33px;
}
.tournaments .tournaments_search input {
  background-color: #2b2c31;
  border: 1px solid #333438;
  width: 606px;
  height: 24px;
  color: #5c5c60;
  margin-left: 14px;
  margin-top: 11px;
}
.tournaments .tournaments_search input:hover {
  background-color: #3c3d41;
  border: 1px solid #878787;
  color: #ffffff;
}
.tournaments .tournaments_search input:focus {
  background-color: #3c3d41;
  border: 1px solid #bcbcbc;
  color: #ffffff;
}
.tournaments .tournaments_search .button_search {
  width: 100px;
  height: 23px;
  background-color: #333438;
  border-radius: 5px;
  color: #c2c2c4;
  margin-left: 9px;
  margin-top: 11px;
}
.tournaments .tournaments_search .button_search:hover {
  background-color: #d42c2f;
  color: #ffffff;
}
.tournaments .tournaments_search .button_search:active {
  background-color: #d42c2f;
  color: #ffffff;
  border: 1px solid #878787;
}
.tournaments .tournaments_search .create_tournament {
  width: 272px;
  height: 23px;
  background-color: #333438;
  border-radius: 5px;
  color: #c2c2c4;
  margin-left: 9px;
  margin-top: 11px;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;
}
.tournaments .tournaments_search .create_tournament:hover {
  background-color: #d42c2f;
  color: #ffffff;
}
.tournaments .tournaments_search .create_tournament:active {
  background-color: #d42c2f;
  color: #ffffff;
  border: 1px solid #878787;
}
.tournaments .tournaments_list {
  display: flex;
  flex-direction: column;
  width: 911px;
  height: 200px;
}
.tournaments .tournaments_list .tournament_block {
  display: flex;
  flex-direction: row;
  width: inherit;
  height: 160px;
  border-radius: 5px;
  background-color: #2b2c31;
  margin-top: 25px;
}
.tournaments .tournaments_list .tournament_image {
  width: 173px;
  height: 123.56px;
  word-wrap: break-word;
  margin-left: 20px;
  margin-top: 16px;
}
.tournaments .tournaments_list .tournament_image img {
  display: block;
  width: 150px;
  overflow: hidden;
  margin-bottom: 5px;
}
.tournaments .tournaments_list .tournament_image p {
  color: #8f8f91;
  font-size: 11px;
  margin-top: 5px;
}
.tournaments .tournaments_list .tournament_image p:nth-of-type(1) {
  margin-top: 8px;
}
.tournaments .tournaments_list .tournament_text {
  width: 387px;
  height: 120px;
  word-wrap: break-word;
  margin-top: 16px;
  margin-left: 22px;
  border-right: 1px solid #585859;
}
.tournaments .tournaments_list .tournament_text h2 {
  color: #d6d6d9;
  font-size: 24px;
}
.tournaments .tournaments_list .tournament_text p {
  color: #c2c2c4;
  font-size: 13px;
  line-height: 15px;
  margin-top: 9px;
  width: 357px;
}
.tournaments .tournaments_list .tournament_go {
  word-wrap: break-word;
  margin-left: 27px;
  margin-top: 19px;
}
.tournaments .tournaments_list .tournament_go p {
  color: #c2c2c4;
  font-size: 14px;
  line-height: 20px;
}
.tournaments .tournaments_list .tournament_go .apply_for,
.tournaments .tournaments_list .tournament_go .go_to_tournament {
  display: inline-block;
  background-color: #333438;
  border-radius: 5px;
  width: 136px;
  height: 29px;
  font-size: 10px;
  color: #c2c2c4;
  margin-top: 22px;
  text-align: center;
}
.tournaments .tournaments_list .tournament_go .apply_for p,
.tournaments .tournaments_list .tournament_go .go_to_tournament p {
  margin-top: 5px;
  font-size: 10px;
}
.tournaments .tournaments_list .tournament_go .apply_for:hover,
.tournaments .tournaments_list .tournament_go .go_to_tournament:hover {
  background-color: #d42c2f;
  color: #ffffff;
}
.tournaments .tournaments_list .tournament_go .apply_for:active,
.tournaments .tournaments_list .tournament_go .go_to_tournament:active {
  background-color: #d42c2f;
  color: #ffffff;
  border: 1px solid #878787;
}

.tournamentCreate {
  display: flex;
  flex-direction: row;
  color: #c2c2c4;
}
.tournamentCreate input {
  background-color: #484950;
  width: 350px;
  margin-top: 20px;
}
.tournamentCreate select {
  margin-top: 20px;
  background-color: #484950;
}

.selectGame {
  background-color: #2b2c31;
  width: 100px;
}

.tournamentModalHeader {
  font-size: 25px;
  text-align: center;
}

.aboutColumn {
  display: flex;
  flex-direction: column;
}
.aboutColumn label {
  margin-top: 20px;
}

.inputInformation {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.createTournamentButton {
  background-color: #333438;
  color: #c2c2c4;
  margin-top: 20px;
  width: 100%;
  height: 50px;
}
.createTournamentButton:hover {
  background-color: #d42c2f;
  color: #ffffff;
}

/*# sourceMappingURL=tournaments.css.map */
