.infoBlock{
  border: 1px solid gray;
  flex-grow: 25;
  font-size: 30px;
  p{
    margin-top: 15px;
  }
}
.avatarProfile{
  display: flex;
  flex-direction: row;
  max-width: 20%;
}
.avatar{
  max-width: 50%;
}
.changeIcon{
  display: inline-block;
  cursor: pointer;
  #logo_input{
    display: none;
  }
  #name_input{
    width: 260px;
    height: 38.64px;
    background-color: #2b2c31;
    border: 1px solid #3b3c40;

    color: #616165;
    &:hover {
      background-color: #3c3d41;
      border: 1px solid #878787;
      color: #ffffff;
    }
    &:focus {
      background-color: #3c3d41;
      border: 1px solid #bcbcbc;
      color: #ffffff;
    }
  }
}

.submitButton{
  border: 1px solid gray;
  height: 50px;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
  font-size: 20px;
  &:hover {
    background-color: #d42c2f;
    color: #ffffff;
  }
  &:active {
    background-color: #d42c2f;
    transform: translateY(2px);
  }
}