@import "zero";
@import "uikit";
@import "navigation";
@import "profile";
@import "loading";

main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
}

.tournaments {
  display: flex;
  flex-direction: column;
  width: 911px;
  .tournaments_search {
    display: flex;
    flex-direction: row;
    width: 911px;
    height: 46px;
    background-color: #26272c;
    margin-top: 33px;
    input {
      background-color: #2b2c31;
      border: 1px solid #333438;
      width: 606px;
      height: 24px;
      color: #5c5c60;
      margin-left: 14px;
      margin-top: 11px;
      &:hover {
        background-color: #3c3d41;
        border: 1px solid #878787;
        color: #ffffff;
      }
      &:focus {
        background-color: #3c3d41;
        border: 1px solid #bcbcbc;
        color: #ffffff;
      }
    }
    .button_search {
      width: 100px;
      height: 23px;
      background-color: #333438;
      border-radius: 5px;
      color: #c2c2c4;
      margin-left: 9px;
      margin-top: 11px;
      &:hover {
        background-color: #d42c2f;
        color: #ffffff;
      }
      &:active {
        background-color: #d42c2f;
        color: #ffffff;
        border: 1px solid #878787;
      }
    }
    .create_tournament {
      width: 272px;
      height: 23px;
      background-color: #333438;
      border-radius: 5px;
      color: #c2c2c4;
      margin-left: 9px;
      margin-top: 11px;
      margin-right: 10px;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color: #d42c2f;
        color: #ffffff;
      }
      &:active {
        background-color: #d42c2f;
        color: #ffffff;
        border: 1px solid #878787;
      }
    }
  }
  .tournaments_list {
    display: flex;
    flex-direction: column;
    width: 911px;
    height: fit-content;
    .tournament_block {
      display: flex;
      flex-direction: row;
      width: inherit;
      height: 160px;
      border-radius: 5px;
      background-color: #2b2c31;
      margin-top: 25px;
    }
    .tournament_image {
      width: 20%;
      height: 90%;
      margin-top: 10px;
      word-wrap: break-word;
      margin-left: 20px;
      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    .tournament_text {
      width: 387px;
      height: 120px;
      word-wrap: break-word;
      margin-top: 16px;
      margin-left: 22px;
      border-right: 1px solid #585859;
      h2 {
        color: #d6d6d9;
        font-size: 24px;
      }
      p {
        color: #c2c2c4;
        margin-top: 10px;
        font-size: 13px;
      }
    }
    .tournament_go {
      word-wrap: break-word;
      margin-left: 27px;
      margin-top: 19px;
      width: 30%;
      p {
        color: #c2c2c4;
        font-size: 14px;
        line-height: 20px;
      }
      .go_to_tournament {
        display: inline-block;
        background-color: #333438;
        border-radius: 5px;
        width: 100%;
        height: 29px;
        font-size: 10px;
        color: #c2c2c4;
        margin-top: 22px;
        text-align: center;
        p {
          margin-top: 5px;
          font-size: 10px;
        }
        &:hover {
          background-color: #d42c2f;
          color: #ffffff;
        }
        &:active {
          background-color: #d42c2f;
          color: #ffffff;
          border: 1px solid #878787;
        }
      }
    }
  }
}
.tournamentCreate {
  display: flex;
  flex-direction: row;
  color: #c2c2c4;

  input {
    background-color: #484950;
    width: 350px;
    margin-top: 20px;
  }

  select {
    margin-top: 20px;
    background-color: #484950;
  }
}

.selectGame {
  background-color: #2b2c31;
  width: 100px;
}

.tournamentModalHeader {
  font-size: 25px;
  text-align: center;
}

.aboutColumn {
  display: flex;
  flex-direction: column;
  label {
    margin-top: 20px;
  }
}

.inputInformation {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.createTournamentButton {
  background-color: #333438;
  color: #c2c2c4;
  margin-top: 20px;
  width: 100%;
  height: 50px;
  &:hover {
    background-color: #d42c2f;
    color: #ffffff;
  }
}
